@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>FitQuest</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        @if (Context.Session.GetString("UserId") != null)
        {
            <h1>Welcome to FitQuest</h1>
            <p>Your fitness journey starts here.</p>
        }
        else
        {
            <h1>FitQuest</h1>
            <a href="/Account/Register" class="btn">Register</a>
            <a href="/Account/Login" class="btn">Login</a>
        }
    </div>
</body>
</html>